.directory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.box {
  box-sizing: border-box;
  position: relative;
  width: 90%;
  height: auto;
  background-color: #d7e1de;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 10px;
  border-color: #7C3AED; 
  left: 54px;
  outline: 2px solid #7C3AED;
}



.grantProgram {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  left: 11px;
top: 25px;
}

.description {
  margin-top: 4%;
  line-height: 1.5;
  margin-left: 11px;
  margin-bottom: 10px;
  margin-right: 2px;
}

.details{
  box-sizing: border-box;
position: absolute;
width: 81px;
height: 33px;
left: 940px;
top: 20px;
background: #00FFA3;
border: 1px solid #000000;
border-radius: 4px;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.apply {
  box-sizing: border-box;
position: absolute;
width: 81px;
height: 33px;
left: 1140px;
top: 20px;
background: #00FFA3;
border: 1px solid #000000;
border-radius: 4px;
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}



.grantdetails {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 1rem;
  width: 10.33%;
  position: absolute;
  left: 920px;


}

.ap {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 1rem;
  width: 10.33%;
  position: absolute;
  left: 1110px;
}

.tl {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 1rem;
  width: 10%;
  position: absolute;
  left: 22px;
}

@media only screen and (max-width: 760px) {
  .directory {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .box {
    width: 90%;
    height: auto;
    margin-top: 10px;
    left: 0;
    }
    
  .grantProgram {
    position: relative;
    height: 100px;
    left: 18px;
    top: 70px;
    font-size: medium;

  }
  
  .tl {
    position: relative;
    width: 48px;
    left: 14px;
    top: 14px;
    font-size: small;
    
}

.ap {
    position: relative;
    width: 200px;
    left: 34px;
    top: 1px;
    font-size: small;
    display: flex;
  align-items: center;
}

.grantdetails {
    position: relative;
    width: 0px;
    left: 60px;
    top: 1px;
    font-size: small;
    display: flex;
  align-items: center;
}

.details{
    position: relative;
    left: 40px;
    top: 30px;
    background: #00FFA3;
    border: 1px solid #000000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.apply {
    position: relative;
    left: -140px;
    top: 29px;
    background: #00FFA3;
    border: 1px solid #000000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

  .pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 40px;
    width: 100%; 
    right: 40px;
    position: relative;
  }


}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .directory {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .box {
    width: 90%;
    height: auto;
    margin-top: 10px;
    left: 0;
    }
    .grantProgram {
      position: relative;
      height: 80px;
      left: 18px;
      top: 70px;
      font-size: medium;
  
    }
    
    .tl {
      position: relative;
      width: 110px;
      left: 14px;
      top: 14px;
      font-size: small;
      
  }
  
  .ap {
      position: relative;
      width: 200px;
      left: 240px;
      top: 1px;
      font-size: small;
      display: flex;
    align-items: center;
  }
  
  .grantdetails {
      position: relative;
      width: 100px;
      left: 270px;
      top: 1px;
      font-size: small;
      display: flex;
    align-items: center;
  }
  
  .details{
      position: relative;
      left: 174px;
      top: 30px;
      background: #00FFA3;
      border: 1px solid #000000;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  .apply {
      position: relative;
      left: 54px;
      top: 29px;
      background: #00FFA3;
      border: 1px solid #000000;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1484px) {
  .directory {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .box {
    width: 90%;
    height: auto;
    margin-top: 10px;
    left: 0;
    }
    
    .grantProgram {
      position: relative;
      height: 80px;
      left: 18px;
      top: 70px;
      font-size: medium;
  
    }
    
    .tl {
      position: relative;
      width: 120px;
      left: 14px;
      top: 14px;
      font-size: small;
      
  }
  
  .ap {
      position: relative;
      width: 200px;
      left: 420px;
      top: 1px;
      font-size: small;
      display: flex;
    align-items: center;
  }
  
  .grantdetails {
      position: relative;
      width: 100px;
      left: 420px;
      top: 1px;
      font-size: small;
      display: flex;
    align-items: center;
  }
  
  .details{
      position: relative;
      left: 326px;
      top: 30px;
      background: #00FFA3;
      border: 1px solid #000000;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  .apply {
      position: relative;
      left: 240px;
      top: 29px;
      background: #00FFA3;
      border: 1px solid #000000;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
}

.searchContainer {
  border-radius: 0.375rem; 
  border: 1px solid #D1D5DB; 
  margin-left: 100px;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.searchContainer:focus-within {
  border-color: #7C3AED; 
  outline: none; 
  box-shadow: 0 0 0 2px #9b6fe7; }

  .searchgrants {
position: relative;
align-items: center;
top: 4px;
left: 100px;
    
  }

  .pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 140px; 
  }
  
  .pagination button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #f4f4f4;
  }
  
  .pagination button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ddd;
  }
  
  .active {
    background-color: #333;
    color: #fff;
  }

  .itemsPerPage {
   justify-content: left;
   margin-bottom: 45px;
   margin-left: 90px;

  }
  
  .noResults {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #777;
  }